<% include partial/before.ejs %>
<body>
	<div class="container">
		<div class="page-index">
			This Dashboard Page.
		</div>
	</div>
</body>
<% include partial/after.ejs %>


<script>
	$(function(){
		xxStaticHtml.pages.index.say();
	});
</script>