<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=.2, maximum-scale=1.0, user-scalable=yes">
	<meta name="keywords" content="">
	<meta name="description" itemprop="description" content="">
	<meta itemprop="name" content="">
	<meta itemprop="image" content="">
	<meta name="copyright" content="Copyright (c) cmcm.com">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="renderer" content="webkit">
	<meta name="author" content="cs_victor@126.com">
    <base target="_self">
	<!-- build:css ./assets/css/lib.min.css -->
	<link rel="stylesheet" type="text/css" href="stylesheets/normalize.3.0.2.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/device.css">
	<!-- endbuild -->

	<!--[if lt IE 9]><script src="javascripts/html5Shiv.js"></script><![endif]-->
</head>