<% include partial/header.ejs %>
<body>
	<div class="container">
		<div class="page-index">
			This Index Page.
		</div>
	</div>
</body>
<% include partial/footer.ejs %>


<script>
	$(function(){
		xxStaticHtml.pages.index.say();
	});
</script>