<% include partial/header.ejs %>
<body>
	<div class="container">
		<div class="page-login">
			This Login Page.
		</div>
	</div>
</body>
<% include partial/footer.ejs %>


<script>
	$(function(){
		xxStaticHtml.pages.login.say();
	});
</script>