<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6"><![endif]-->
<!--[if IE 7 ]><html class="ie ie7"><![endif]-->
<!--[if IE 8 ]><html class="ie ie8"><![endif]-->
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html><!--<![endif]-->
<head>
	<title>网页名称</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=.2, maximum-scale=1.0, user-scalable=yes">
	<meta name="keywords" content="">
	<meta name="description" itemprop="description" content="">
	<meta itemprop="name" content="">
	<meta itemprop="image" content="">
	<meta name="format-detection" content="email=no" />
	<meta name="format-detection" content="address=no" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="copyright" content="Copyright (c) cmcm.com" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="renderer" content="webkit">
	<meta name="author" content="cs_victor@126.com">
    <base target="_self">
	<!-- build:css assets/css/lib.min.css -->
	<link rel="stylesheet" type="text/css" href="stylesheets/normalize.3.0.2.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/common.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/struct.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/device.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/ie.css">
	
	<link rel="stylesheet" type="text/css" href="stylesheets/page-index.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/page-login.css">
	<!-- endbuild -->

	<!--[if lt IE 9]><script src="javascripts/html5Shiv.js"></script><![endif]-->
</head>