<ul class="nav">
	<li><a href="#">一级菜单A</a></li>
	<li>
		<a href="#">一级菜单B</a>
		<ul class="sub-nav">
			<li><a href="#">bxxxx</a></li>
			<li><a href="#">byyyy</a></li>
			<li><a href="#">bzzzz</a></li>
		</ul>
	</li>
	<li>
		<a href="#">一级菜单C</a>
	</li>
</ul>